
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "微软雅黑"，"宋体"，"sans-serif";
	list-style: none;
}
header{
	width: 100%;
	height: 40px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.header-main{
	width: 1000px;
	height: 100%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}
.header-left{
  width: 160px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: rgb(167,26,35);
}
.header-left .header-left-phone{
	font-size: 20px
}
nav{
	width: 100%;
	height: 80px;
}
.nav-main{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.nav-left{
	width: 170px;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.nav-left div{
	font-size: 60px;
	line-height: 80px;
}
.name{
	font-size: 26px;
	line-height: 80PX;

}
.nav-right{
	width: 740px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-left: 90px;
}
.nav-right li{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.nav-right li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-align: center;
}
.nav-right li:hover{
	border-bottom: 8px solid #aaa;
}
.nav-right li:hover a{
	color: #aaa;
}
.nav-right span{
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 2px solid #000;
}
.nav-right .nav-right-we{
	border-right:none;
}
.section-banner{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
article{
	width: 100%;
	height: 80px;
}
.article-main{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding-top: 30px;
}
.article-place{
	display: flex;
	font-size: 14px;
}
.article-place li a{
	color: #000;
}
.article-place li a:hover{
	color: #aaa
}
.article-place-gsgk{
	color: #aaa
}
.section-body{
	width: 100%;
	height: 1800px;
}
.section-body-main{
  width: 1000px;
	height: 100%;
	margin: 0 auto;
/*	display: flex;
	justify-content: space-between;*/
}
/*.section-left{
	width: 240px;
	height: 500px;
	background: rgba(50,50,50,0.4);
}*/
.section-right{
	width: 710px;
	height: 500px;
	margin: 0 auto;
}

.section-banner img{
	display: block;
	margin: 0 auto;
}

.section-right-top{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	line-height: 60px;
}
.section-right-top h1{
  text-align: center;
  font-size: 28px;
/*  border-bottom: 1px solid #000;*/
  padding-bottom: 20px;
}
.section-right-top a{
	font-size: 40px;
	color: #000;
}
.section-right-bottom{
	width: 100%;
	margin-top: 40px;
}
.section-right-bottombox{
	margin-bottom: 60px;
}
.section-right-bottom-box{
	margin: 0 auto;
  width: 600px;
  height: 300px;
  overflow: hidden;
}
.section-right-bottom a{
	color: #000;
	font-size: 20px;
}
.section-right-bottom-box :hover{
	transform: scale(1.1);
	transition: all 1s;  
}
.section-right-bottom span{
	display: block;
	margin-top: 20px;
	text-align: center;
}
footer{
	width: 100%;
	height: 170px;
	background: rgb(50,54,61);
	padding-top: 40px;
}
.footer-main{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.footer-top{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid rgb(61,66,75);
	display: flex;
	justify-content: space-between;
}
.footer-top-left{
  font-size: 50px;
  width: 140px;
  display: flex;
  justify-content: space-between;
  color: rgb(166,172,184);
  margin-top: -10px;
}
.footer-top-left span{
	font-size: 20px;
	line-height: 55px;
}
.footer-top-right{
  display: flex;
  justify-content: space-between;
}
.footer-top-right li{
	padding-top: 10px;
}
.footer-top-right a{
	color: rgb(166,172,184);
	font-size: 14px;
}
.footer-top-right a:hover{
	color: #fff;
}
.footer-top-right span{
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid rgb(166,172,184)
}
.footer-top-right .footer-sm{
	padding-right: 0;
	border:none;
}
.footer-bottom{
	margin-top: 14px;
	float: right;
}
.footer-bq{
	float: right;
	color: rgb(166,172,184);
	font-size: 14px;
}
.footer-bottom-box{
	float: right;
	margin-top: 10px;
}
.icon-jingcha{
	color: blue;
	font-size:20px;
	margin-right: 10px;
}
.footer-gs{
	color: rgb(102,102,102);
	font-size: 14px;
	margin-right: 10px;
}
.footer-gs:hover{
	color: skyblue;
}
.footer-bh{
	color: rgb(102,102,102);
	font-size: 14px;
	margin-right: 10px;
}
.footer-bh:hover{
	color: skyblue;
}
.footer-gl{
	font-size: 14px;
	color: rgb(166,172,184);
}